<div class="text-center">
  <div class="form-signin">
    <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">
      <h1 class="h3 mb-3 fw-normal">Iniciar sesion</h1>

      <div class="form-floating">
        <input
          formControlName="email"
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          formControlName="password"
          class="form-control mb-0"
          id="floatingPassword"
          placeholder="Password"
        />
        <label for="floatingPassword">Password</label>
      </div>
      <button
        class="w-100 btn btn-lg btn-primary"
        [disabled]="miFormulario.invalid"
        type="submit"
      >
        Sign in
      </button>
      
    </form>
  </div>
</div>
