<div class="row ">
  <h2 class="text-center">Administrar Datos</h2>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
    <button
    class="btn btn-outline-danger"
    type="button"
    [routerLink]="['/admin/roles/agregar' ]"
  ><i class="		fa fa-minus"></i> <span class="p-1"></span>Eliminar</button>
    <button
      class="btn btn-outline-dark"
      type="button"
      [routerLink]="['/admin/roles/agregar' ]"
    ><i class="	fas fa-plus"></i> <span class="p-1"></span>Actualizar</button>
  </div>
  <div class="table-responsive mt-2">
    <table class="table  caption-top">
      <thead class="table-dark">
        <tr>
          <th scope="col"><span class="p-1"></span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Genero:</th>
          <td>{{datos.genero}}</td>
        </tr>
        <tr>
          <th scope="row">DUI:</th>
          <td>{{datos.dui}}</td>
        </tr>
        <tr>
          <th scope="row">NIT:</th>
          <td>Nombre</td>
        </tr>
        <tr>
          <th scope="row">Fecha de nacimiento:</th>
          <td>Nombre</td>
        </tr>
        <tr>
          <th scope="row">Resumen:</th>
          <td>Nombre</td>
        </tr>
        <tr>
          <th scope="row">Disponibilidad de viaje:</th>
          <td>Nombre</td>
        </tr>
        <tr>
          <th scope="row">Posee vehículo:</th>
          <td>Nombre</td>
        </tr>
        <tr>
          <th scope="row">Puede cambiar de residencia:</th>
          <td>Nombre</td>
        </tr>

      </tbody>
    </table>
  </div>


</div>
