<div class="row">
  <h2 class="text-center">Administrar Datos</h2>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
    <button
      class="btn btn-outline-dark"
      type="button"
      [routerLink]="['/user/datos/agregar']"
    >
      <i class="fa fa-plus"></i> <span class="p-1"></span>Agregar
    </button>
    <button
      class="btn btn-outline-dark"
      type="button"
      [routerLink]="['/user/datos/editar', datos.id]"
    >
      <i class="fas fa-edit"></i> <span class="p-1"></span>Actualizar
    </button>
  </div>
  <app-tabla></app-tabla>

</div>
