  <div class="row ">
  <h2 class="text-center">
    {{ ( formularioDatos.value.id )? 'Editar' : 'Registrar' }}
    Datos Personales</h2>
  <div class=" mt-4 offset-md-1  offset-lg-1 col-md-10 col-lg-10 col-sm-12  justify-content-center">
    <div class="card">
      <div class="card-header ">
        <h5 class="mt-2 card-title">
          Datos</h5>
        <small class="text-danger">* Obligatorio</small>
      </div>
      <!-- <div class="form-dato"> -->
        <form
          autocomplete="off"
          [formGroup]="formularioDatos"
          (ngSubmit)="guardar()"
        >
          <div class="card-body ">

            <div class="row">

              <div class="form-group  col-md-6 mt-1">
                <!-- <div class="row mt-4"> -->
                <!-- <div class=" col-md-6 mt-1  "> -->
                  <label >DUI: <span class="text-danger">*</span></label>
                  <input
                    type="text"
                    pattern="^[0-9]{8}[\-][0-9]$"
                    tittle="Formato de DUI no válido"
                    formControlName="dui"
                    class="form-control mt-2 "
                    placeholder="########-#"
                  >
                <!-- </div> -->
              </div>

              <div class="form-group col-md-6  mt-1">
                <!-- <div class="row mt-4"> -->
                <!-- <div class="col-md-6  mt-1  "> -->
                  <label >NIT: <span class="text-danger">*</span></label>
                  <input
                    type="text"
                    pattern="^[0-9]{4}[\-][0-9]{6}[\-][0-9]{3}[\-][0-9]$"
                    tittle="Formato de NIT no válido"
                    formControlName="nit"
                    class="form-control mt-2 "
                    placeholder="####-######-###-#"
                  >
                <!-- </div> -->
              </div>

            </div>
            <div class="row">

              <div class="form-group  col-md-6 mt-2">
                <!-- <div class="row mt-4"> -->
                <!-- <div class=" col-md-6 mt-1  "> -->
                  <label>Fecha de nacimiento: <span class="text-danger">*</span></label>
                  <input
                    type="text"
                      formControlName="fecha_nacimiento"
                    class="form-control mt-2 "
                    placeholder="dd/mm/aaaa"
                  >
                <!-- </div> -->
              </div>

              <div class="form-group col-md-6  mt-2">
                <!-- <div class="row mt-4"> -->
                <!-- <div class="col-md-6  mt-1  "> -->
                  <label>Genero: <span class="text-danger">*</span></label>
                  <select class="form-select mt-2" data-live-search="true" formControlName="genero">
                    <option value= "0" disabled selected>Seleccione una opción</option>
                    <option value="F">Femenino</option>
                    <option value="M">Masculino</option>
                  </select>
                <!-- </div> -->
              </div>

            </div>

            <div class="row">

              <div class="form-group  col-md-4 mt-2">
                <!-- <div class="row mt-4"> -->
                <!-- <div class=" col-md-6 mt-1  "> -->
                  <label for="disponibilidad_viaje" class="col-form-label">Disponibilidad de viajar: <span class="text-danger">*</span></label>
						      <div class="form-group">
				            <div class="form-check form-check-inline">
				                <input class="form-check-input" type="radio" id="siViaja" formControlName="disponibilidad_viaje" value=1>
				                <label class="form-check-label" for="siViaja">Si</label>
				            </div>

                   <div class="form-check form-check-inline">
				                <input class="form-check-input" type="radio" id="noViaja" formControlName="disponibilidad_viaje" value=0 checked>
				                <label class="form-check-label" for="noViaja">No</label>
				           </div>
                  </div>
                <!-- </div> -->
              </div>

              <div class="form-group col-md-4  mt-2">
                <!-- <div class="row mt-4"> -->
                <!-- <div class="col-md-6  mt-1  "> -->
                  <label for="posee_vehiculo" class="col-form-label">Posee vehículo: <span class="text-danger">*</span></label>
						      <div class="form-group">
				            <div class="form-check form-check-inline">
				                <input class="form-check-input" type="radio" id="siVehiculo" formControlName="posee_vehiculo" value=1 >
				                <label class="form-check-label" for="siVehiculo">Si</label>
				            </div>

                   <div class="form-check form-check-inline">
				                <input class="form-check-input" type="radio" id="noVehiculo" formControlName="posee_vehiculo" value=0 checked>
				                <label class="form-check-label" for="noVehiculo">No</label>
				           </div>
                  </div>
                <!-- </div> -->
              </div>

              <div class="form-group col-md-4  mt-2">
                <!-- <div class="row mt-4"> -->
                <!-- <div class="col-md-6  mt-1  "> -->
                  <label for="puede_cambiar_res" class="col-form-label">Puede cambiar de residencia: <span class="text-danger">*</span></label>
						      <div class="form-group">
				            <div class="form-check form-check-inline">
				                <input class="form-check-input" type="radio" id="siResidencia" formControlName="puede_cambiar_res" value=1>
				                <label class="form-check-label" for="siResidencia">Si</label>
				            </div>

                   <div class="form-check form-check-inline">
				                <input class="form-check-input" type="radio" id="noResidencia" formControlName="puede_cambiar_res" value=0 checked>
				                <label class="form-check-label" for="noResidencia">No</label>
				           </div>
                  </div>
                <!-- </div> -->
              </div>

            </div>

            <div class="row">
              <div class="form-group col-md-12 mt-2">
                <label for="resumen" class="col-form-label">Resumen:</label>
                <textarea class="form-control" id="descripcion" formControlName="resumen" rows="1" cols="50" placeholder="Añadir breve descripción"></textarea>
            </div>
            </div>

          </div>

          <div class="card-footer ">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button
                (click)="limpiar()"
                type="button"
                class="btn btn-outline-danger"
              >
                Limpiar</button>
              <button
                type="submit"
                class="btn btn-outline-dark"
              >Guardar</button>

            </div>

          </div>
        </form>
      </div>


    <!-- </div> -->
  </div>
