<div class="row ">
  <h2 class="text-center">Administrar Roles</h2>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button
      class="btn btn-outline-dark"
      type="button"
      [routerLink]="['/admin/roles/agregar' ]"
    ><i class="	fas fa-plus"></i> <span class="p-1"></span>Nuevo Rol</button>
  </div>
  <div class="table-responsive">
    <table class="table text-center caption-top">
      <caption>Lista de Roles</caption>
      <thead class="table-dark">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rol of roles">
          <td>{{rol.display_name}}</td>
          <td>{{rol.descripcion}}</td>
          <td>
            <a
              class="btn btn-outline-dark"
              role="button"
              aria-pressed="true"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Editar rol"
              [routerLink]="['/admin/roles/editar', rol.id ]"
            ><i class="fas fa-edit"></i>
            </a>
            <span class="p-1"></span>
            <button
              class="btn btn-outline-danger "
              role="button"
              aria-pressed="true"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Eliminar rol"
              (click)="borrarRol(rol)"
            ><i class="	fas fa-trash"></i>
            </button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>


</div>
